{% extends "./base.html" %}
{% load static %}

{% block title %}Your Interests{% endblock title %}


{% block inner_body %}

<section id="register" class="bg-primary center-align">
    <div class="container">
        {% if user and not user.is_anonymous %}
        <div class="section">
        <img src="{% static 'user_registration/img/icons_user2.png' %}" class="responsive-img" alt="{{ user.get_full_name|default:user.username }}">
        </div>

      <div class="divider"></div>
      <div class="section">

        <h3>Okay {{ user.get_full_name|default:user.username }}</h3>

        <div class="row">
          <div class="col s12 12 12">
            <div class="card-panel teal">
              <span class="white-text">Now we need to get to know you a little better. This will help us help you find what you need.
              Let's answer a few questions below and take it from there, you ready?
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 12 12">
            <div class="card light-blue darken-4">
              <span class="card-title white-text">Rate from 1 - 5
              </span>
            </div>
          </div>
        </div>

        <form class="col s12 12 12 form" method="POST" action="{% url 'user_registration:answer_questionnaire' %}">{% csrf_token %}
        <!-- Realistic Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card light-blue darken-1">
              <div class="card-content black-text">
                <span class="card-title">Realistic</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Realistic" %}
                  <li class="collection-item">
                    <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>

              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Realistic Question card -->

        <!-- Investigative Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card amber">
              <div class="card-content black-text">
                <span class="card-title">Investigative</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Investigative" %}
                  <li class="collection-item">
                    <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>


              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Investigative Question card -->

        <!-- Social Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card lime accent-3">
              <div class="card-content black-text">
                <span class="card-title">Social</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Social" %}
                  <li class="collection-item">
                    <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>

              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Social Question card -->

        <!-- Artist Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card pink darken-1">
              <div class="card-content black-text">
                <span class="card-title">Artistic</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Artist" %}
                  <li class="collection-item">
                    <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>

              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Artist Question card -->

        <!-- Enterprising Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card light-blue darken-1">
              <div class="card-content black-text">
                <span class="card-title">Enterprising</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Enterprising" %}
                  <li class="collection-item">
                  <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>

              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Enterprising Question card -->

        <!-- Conventional Question card -->
        <div class="row">
          <div class="col s12 12 12">
            <div class="card red accent-3">
              <div class="card-content black-text">
                <span class="card-title">Conventional</span>

                <ul class="collection with-header">
                {% for instance in question_list %}
                  {% ifequal instance.question_group|stringformat:"s" "Conventional" %}
                  <li class="collection-item">
                    <div class="row">
                    <div class="col s12 m9">
                        <h6 class="left-align">{{instance.question}}</h6>
                    </div>
                    <div class="col s12 m3">
                    <p class="range-field">
                      <input type="range" id="{{ instance.id }}" name="{{ instance.id }}" min="1" max="5"></input>
                    </p>

                    </div>
                  </div>
                  </li>
                  {% endifequal %}
                {% endfor %}
                </ul>

              </div>
              <div class="card-action">
              </div>
            </div>
          </div>
        </div>
        <!-- /Conventional Question card -->

        <button type="submit" value="" class="btn btn-large" > Done!</button>

        </form>
      </div>
    {% endif %}

    </div>
</section>

{% endblock inner_body %}