{% extends "./base.html" %}
{% load static %}
 
{% block inner_body %}

<div class="container">
	<div class="row">
		<div class="col s12 m12">
		  <div class="card">
				{% if error %}
				<div class="card-content">
				  <p>Something went wrong :( The error says : {{ error }}.
				  You can email cebo@eregardless and we will get you sorted.</p>
				</div>
				{% else %}
				<div class="card-content">
				  <p>We got your message :). We will be attending to it soon.
				  You can send us more if you like, we love communication.</p>
				</div>
				{% endif %}
			<div class="card-action">
			  <a href="{% url 'user_registration:index' %}">Go Home</a>
			</div>
		  </div>
		</div>
	</div>
</div>

{% endblock inner_body %}
