{% extends "./base.html" %}
{% load static %}

{% block title %}Your Profile{% endblock title %}

{% block inner_body %}

<section class="features bg-primary center-align">
    <div class="container">
        <div class="row">
            <div class="col s12 12 12 center-align">
                <div class="section-heading">
                    <h3>Let us know you</h3>
                    <p class="text-muted">Make sure your information is up to date</p>
                    <hr>
                </div>
            </div>
        </div>
        <!--
        {% if result %}
            <p>Result : {{ result }}</p>
        {% endif %}
        -->
        {% if profile_data %}
        <div class="row">
          <div class="section">
            <img src="{% static 'user_registration/img/icons_user2.png' %}" class="responsive-img" alt="{{ user.get_full_name|default:user.username }}">
          </div>
        </div>
        <div class="row">
            <div class="col s12">
            <table class="striped">
              <thead>
                <tr>
                    <th>Name & Surname</th>
                    <th>Grade</th>
                    <th>ID number</th>
                    <th>Education type</th>
                    <th>Cell number</th>
                    <th>Email address</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>{{ request.user.get_full_name }}</td>
                  <td>{{ profile_data.grade }}</td>
                  <td>{{ profile_data.id_number }}</td>
                  <td>{{ profile_data.nsc_type }}</td>
                  <td>{{ profile_data.cell_number }}</td>
                  <td>{{ user.email }}</td>
                </tr>
              </tbody>
            </table>

            <p>To update your info use the form below</p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div>
                <p>Awww! It looks like you have not added your information. Fill in the form below if you want to add it</p>
            </div>
        </div>
        {% endif %}
        <div class="divider"></div><br/>
        <div class="row">
            <form class="col s12 form" action="{% url 'user_registration:update_profile' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="" id="first_name" name="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="" id="last_name" name="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <input placeholder="" id="email" name="email" type="email" class="validate">
                    <label for="email">Email Address</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="" id="cell_number" name="cell_number" type="number" class="validate">
                    <label for="cell_number">Cell Phone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select id="school_name" name="school_name">
                      <option value="" disabled selected>High School</option>
                      {% for hs in high_school_data %}
                        <option value="{{ hs.name }}">{{ hs.name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="input-field col s12 m6 l6">
                    <select id="grade" name="grade">
                      <option value="" disabled selected>Current Grade</option>
                      <option value="8">Grade 8</option>
                      <option value="9">Grade 9</option>
                      <option value="10">Grade 10</option>
                      <option value="11">Grade 11</option>
                      <option value="12">Grade 12</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select id="nsc_type" name="nsc_type">
                      <option value="" disabled selected>NSC Type</option>
                      {% for etd in examination_type_data %}
                      <option value="{{ etd.name }}">{{ etd.name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input placeholder="" id="identity_number" name="identity_number" type="number" class="validate">
                    <label for="identity_number">ID Number</label>
                </div>
            </div>
            <button type="submit" value="update_profile" class="btn btn-large ">Update</button>
            </form>
        </div>
    </div>
</section>

{% endblock inner_body %}