{% extends "./base.html" %}
{% load static %}

{% block title %}Create Profile{% endblock title %}


{% block inner_body %}

<section class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="section-heading">
                <h3>What does your education look like?</h3>
                <p>We will us the information to find you opportunities</p>
                <hr>
            </div>
            <form action="{% url 'user_registration:user_education' %}" method="POST" class="form-horizontal">
            {% csrf_token %}
                {{ education_form.as_p }}
                <div class="form-group">
                    <div class="col offset-2 col s8 8 8">
                        <button type="submit" value="user_education" class="btn btn-outline btn-xl page-scroll">Let's Go!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul>
    </div>
</section>

{% endblock inner_body %}