{% extends "./base.html" %}
{% load static %}

{% block register_login %}
<div id="profile" class="container">
{% if user and not user.is_anonymous %}
	
	<div class="section">
	<img src="{% static 'user_registration/img/icons_user2.png' %}" class="responsive-img" alt="{{ user.get_full_name|default:user.username }}">
    </div>

  <div class="divider"></div>
  <div class="section">
  
    <h3>Hello {{ user.get_full_name|default:user.username }}!</h3>

	<ul class="collapsible light-blue darken-1" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header">Update your information
	    	<a href="{% url 'user_registration:user_profile' %}" class="secondary-content"><i class="material-icons">send</i></a>
	    </div>
	    <div class="collapsible-body"><p>This is where you can update your personal information. Things run smoothly when we have accurate information</p></div>
	  </li>
	  <li>
	    <div class="collapsible-header">Update your interests
	    	<a href="{% url 'user_registration:base_interests' %}" class="secondary-content"><i class="material-icons">send</i></a>
	    </div>
	    <div class="collapsible-body"><p>This is where you update your interests, so we can find the most suitable information for your needs.</p></div>
	  </li>
	  <li>
	    <div class="collapsible-header">Browse education info
	    	<a href="#!" class="secondary-content"><i class="material-icons">lock</i></a>
	    </div>
	    <div class="collapsible-body"><p>Here you can find our database of education information. Whether it is for opportunities while in highschool or for post high school, you can find something here.</p></div>
	  </li>
	  <li>
	    <div class="collapsible-header">Browse entrepreneur info
	    	<a href="#!" class="secondary-content"><i class="material-icons">lock</i></a>
	    </div>
	    <div class="collapsible-body"><p>This is a collection of informaiton that is useful for budding entrepreneurs.</p></div>
	  </li>
	</ul>

    <a type="button" href="{% url 'auth:logout' %}?next={{ request.path }}"
    class="btn btn-outline btn-xl page-scroll" > Logout</a>
  </div>
  {% else %}
	<!--
  <h5>Login with a social media account</h5>
  	<div class="divider"></div>
  	<br>
	<div class="row">
		<div class="col s4">
			<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
	    <img src="{% static 'user_registration/img/triangle_facebook.png' %}" class="responsive-img" alt="Login with Facebook">
	    </a>
		</div>
		<div class="col s4">
			<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
	    <img src="{% static 'user_registration/img/triangle_google_plus.png' %}" class="responsive-img" alt="Login with Google">
	    </a>
		</div>
		<div class="col s4">
	    	<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
	    <img src="{% static 'user_registration/img/triangle_twitter.png' %}" class="responsive-img" alt="Login with Twitter">
	    </a>
		</div>
	</div>
  	<div class="divider"></div>
	-->
	
	<div class="section">
	  <h5>Login</h5>

	  <!-- <a type="button" class="btn btn-outline btn-large" href="{% url 'user_registration:visitor' %}">Try Visitor Mode</a> -->

	  <form action="{% url 'user_registration:login_user' %}" method="POST" class="form">{% csrf_token %}
		{{ login_form.as_p }}
	  	<div class="form-group">
	  		<div class="col-sm-2"></div>
	    	<div class="col-sm-8">
	      		<button type="submit" value="login_user" class="btn btn-outline btn-xl page-scroll">Login</button>
	    	</div>
			<div class="col-sm-2"></div>
	  	</div>
		</form>
	</div>
	<br>
	<h5>Register Now?</h5>
	<a type="button" class="btn btn-outline btn-xl page-scroll" href="{% url 'user_registration:register' %}">Register</a>

	<h5>Later?</h5>
	<a type="button" class="btn btn-outline btn-xl page-scroll" href="#home">Not Now</a>
    {% endif %}
</div>
{% endblock %}