{% extends "./base.html" %}
{% load static %}

{% block title %}Your Results{% endblock title %}

{% block inner_body %}

<section class="features bg-primary center-align">
    <div class="container">
        <div class="row">
            <div class="col s12 12 12 center-align">
                <div class="section-heading">
                    <h2>Your Results</h2>
                    <p class="text-muted">You can change them anytime in <a href="{% url 'user_registration:base_interests' %}">Interests</a></p>
                    <hr>
                </div>
            </div>
        </div>

        {% if results %}
        <table class="centered highlight">
          <thead>
            <tr>
              <th>Characteristic</th>
              <th>Average</th>
            </tr>
          </thead>

          <tbody>
            {% for key, value in results %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
          {% else %}
                <h3>There are no results to Show. You need to complete the questionnaire in your profile.</h3>
          {% endif %}
    </div>
</section>

{% endblock inner_body %}