{% extends "./base.html" %}
{% load static %}

{% block title %}Duyo - Registration{% endblock title %}

{% block inner_body %}

<section id="register" class="download bg-primary center-align">
  <div class="section">
    <div class="row">
      <div class="col s12 m8 l8 offset-m2 offset-l2">
        <h4 >Okay, let's get started on Greatness!</h4>
        {% block register_login %}
          {% if not request.user.is_authenticated %}
            <form action="{% url 'user_registration:register_user' %}" method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div class="col s12 12 12">
                            {{ registration_form.as_p }}
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button type="submit" value="register_user" class="btn btn-large">Register</button>
                                </div>
                        </div>
                    </form>
                    {% else %}
                    <div class="card-panel teal">
              <span class="white-text">You are already registered! Awesome. Kinda weird that you are here though. You can go <a href="{% url 'user_registration:index' %}">home</a>.
              </span>
            </div>
                    {% endif %}
      {% endblock register_login %}
      </div>
    </div>
  </div>
</section>

{% endblock inner_body %}