{% extends "./base.html" %}

{% block inner_body %}

<section id="register" class="download bg-primary center-align">
    <div class="container">
        <div class="row">
            {% block register_login %}

            <div class="section">
                <h3>Terms of Service ("Terms")</h3>
                <p>
                    Last updated: ​12/03/2017

                    Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the https://www.duyuo.co ​ website and the Duyuo​ mobile application (the "Service") operated by ​Duyuo Pty Ltd​ ("us", "we", or "our").
                    Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

                    By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Termination</h3>
                <p>
                    We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

                    All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Subscriptions</h3>
                <p>
                    Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring period that you will stipulate from our given options upon subscription
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Content</h3>
                <p>
                    Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the appreciation, legality, effects on and respect of all potential viewers of the content you post.
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Links to other web sites</h3>
                <p>
                    Our Service may contain links to third-party web sites or services that are not owned or controlled by Duyuo Pty Ltd.

                    Duyuo has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Duyuo Pty Ltd shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Changes</h3>
                <p>
                    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least ​60 days of notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                </p>
            </div>

            <div class="divider"></div>

            <div class="section">
                <h3>Contact Us</h3>
                <p>
                    If you have any questions about these Terms, please contact us.
                </p>
            </div>

            {% endblock register_login %}
        </div>
    </div>
</section>

{% endblock inner_body %}