section.features {
  text-align: center;
}

#profile {
  text-align: center;
}

#sticky {
    width: inherit;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.card .card-title
{
	font-weight: 500;
}

.card-content .card-title
{
	font-size: 20px;
}

.card-content > p
{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.card-action
{
	/*font-size: 12px;*/
}

@media (min-width: 768px) and (orientation: landscape) {
    #left-panel
    {
        position: fixed;
        float : left;
        width: 25%;
    }

    #middle-panel
    {
        position: inherit;
        float : left;
        width: 50%;
        transform: translateX(50%);
    }

    #right-panel
    {
        position: inherit;
        float : left;
        width: 25%;
        transform: translateX(100%);
    }
}

#left-panel li a, #left-panel li span
{
    display: block;
}

